
<div class="d-flex justify-content-center align-items-center" style="background-image: url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');background-size: 100%;background-repeat: no-repeat;height: 100vh;">
    <a class="button_home" href="/cafes" role="button">Find Cafes</a>
</div>
