

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <% @products.each do |product| %>

      <div class = "d-flex justify-content-between">
        <%= link_to product.name,  cafe_product_path(product.cafe_id, product) %>
        <p>$ <%= product.price %></p>
        </div>
        <%= product.description %><br>
        <%= link_to "add to cart", carts_path %><br>
        <br>
        <% end %>
    </div>
  </div>
</div>
