<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 justify-centre">
        <%= @product.name %> <br>
        <%= @product.description %> <br>
        <%= @product.price %> <br>

        <%= link_to "Edit Product", edit_cafe_product_path(@product) %>
    </div>
  </div>
</div>
